<!-- Footer-->

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          2215 John Daniel Drive
          <br />
          Clark, MO 65243
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-lg btn-social btn-facebook" style="background-color: #DCDCDC" href="https://www.facebook.com/">
          <i class="fa fa-facebook fa-fw"></i>Facebook
        </a>
        <a class="btn btn-lg btn-social btn-instagram" style="background-color: #DCDCDC;" href="https://www.instagram.com/">
          <i class="fa fa-facebook fa-fw"></i>Instagram
        </a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">
          We are a family of brands, driven by our desire to make great
          design available to everyone in a sustainable way.
        </p>
      </div>
    </div>
  </div>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white" style="background-color: rosybrown;">
    <div class="container"><small>Copyright © Cool Clothes Website 2021</small></div>
  </div>
</footer>



