<header style="font-family: 'Yusei Magic', sans-serif;">
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Cool Clothes</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/">T-shirts</a>
              <a class="dropdown-item" href="/">Jeans</a>
              <a class="dropdown-item" href="/">Shoes</a>
            </div>
          </li>
          <% if(user){ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My account
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/">My messages</a>
                <a class="dropdown-item" href="/products/favourites">My favourites</a>
              </div>
            </li>
            <p class="navbar-brand" style="color: black; font-size: medium;"><%= `Logged in as :` %></p>
            <br>
            <p class="navbar-brand" style="color: black; font-size: medium;"><b><%= `${user}` %></b></p>
            <form method="POST" action="/logout">
              <button type="submit"class="btn btn-dark btn btn-outline-danger">Logout</button>
            </form>
          <% } else { %>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
           <% } %>

        </ul>
      </div>
    </div>
  </nav>
</header>
