// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
  footer {
    background-color: grey;
    padding-top: 1em;font-family: 'Yusei Magic', sans-serif;
    margin-top: 2em;
  }

}
